@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
  --mainColor: #00203fff;
  --mainColorLighter: #53627080;
  --secondaryColor: #adefd1ff;
  --darkerSecondaryColor: #a1e4c7ff;

  --mainFont: 'Poiret One', cursive;
  --secondaryFont: 'DM Sans', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor);
  padding: 0 4rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}